@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SubmitOrder</title>

    <style>

        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% auto;
            background-image: url(../Content/images/bg4.jpg);
        }
         </style>
</head>
<body>
    <div>
        

        <h4 style=" font-size:200% ; font-family:Stencil;font-weight:bolder;margin-left:3%;color:maroon"> OFFICIAL ADDRESS</h4>

        <p style=" font-size:150% ; font-family:'Stencil';align-content:center;margin-left:3%;color:white"> Punjab University College Of Information Technology-PUCIT,Lahore</p>

        <br />


        <h4 style=" font-size:200% ; font-family:'Stencil' ;font-weight:bolder;margin-left:3%;color:maroon"> MAILING ADDRESS</h4>


        <p style=" font-size:150%; font-family:'Stencil';align-content:center;margin-left:3%;color:white"> bitf12m023@pucit.edu.pk</p>

        <p style=" font-size:150%;font-family:'Stencil';align-content:center;margin-left:3%;color:white"> zarshabatool@gmail.com</p>

        <br />

        <h4 style=" font-size:200% ; font-family:'Stencil' ;font-weight:bolder;margin-left:3%;color:maroon"> CONTACT NUMBERS</h4>


        <p style="font-size:150%;font-family:'Stencil';align-content:center;margin-left:3%;color:white"> +92-342-4116252 </p>

        <p style="font-size:150%;font-family:'Stencil';align-content:center;margin-left:3%;color:white"> +92-321-5137225</p>

        <br />

        <h4 style=" font-size:200% ; font-family:'Stencil' ;font-weight:bolder;margin-left:3%;color:maroon"> LOCATION</h4>

        
        <p style="font-size:150%;font-family:'Stencil';align-content:center;margin-left:3%;color:white">Lahore</p>
    

        
    </div>
</body>
</html>