@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<head>

     <style>

         body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% auto;
            background-image: url(../Content/images/bg.jpg);
        }

         #img{
            background-image:url(../Content/images/bg4.jpg);
            height:210px;
    
            }

         #img1{
            background-image:url(../Content/images/14.png);
            height:210px;
    
            }

        #bgImg {
            background-image: url(../Content/images/about.jpg);
            opacity:0.9;
        }

    </style>
    <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="~/engine1/style.css" />
<script type="text/javascript" src="~/engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
   
 
 
</head>

<body>
    <br />
    <div id="bgImg">
   
<div>
 
    <!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
    
<div class="ws_images"><ul>
		<li><img src="~/data1/images/f1.jpg" alt="f1" title="f1" id="wows1_0"/></li>
		<li><img src="~/data1/images/f2.jpg" alt="f2" title="f2" id="wows1_1"/></li>
		<li><img src="~/data1/images/f3.jpg" alt="f3" title="f3" id="wows1_2"/></li>
		<li><img src="~/data1/images/f5.jpg" alt="f5" title="f5" id="wows1_3"/></li>
		<li><img src="~/data1/images/f6.jpg" alt="f6" title="f6" id="wows1_4"/></li>
		<li><img src="~/data1/images/f7.jpg" alt="f7" title="f7" id="wows1_5"/></li>
		<li><img src="~/data1/images/f8.jpg" alt="f8" title="f8" id="wows1_6"/></li>
		<li><img src="~/data1/images/f9.jpg" alt="f9" title="f9" id="wows1_7"/></li>
		<li><img src="~/data1/images/f10.jpg" alt="f10" title="f10" id="wows1_8"/></li>
		<li><a href="http://wowslider.com"><img src="~/data1/images/f11.jpg" alt="slideshow jquery" title="f11" id="wows1_9"/></a></li>
		
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="f1"><span><img src="~/data1/tooltips/f1.jpg" alt="f1"/>1</span></a>
		<a href="#" title="f2"><span><img src="~/data1/tooltips/f2.jpg" alt="f2"/>2</span></a>
		<a href="#" title="f3"><span><img src="~/data1/tooltips/f3.jpg" alt="f3"/>3</span></a>
		<a href="#" title="f5"><span><img src="~/data1/tooltips/f5.jpg" alt="f5"/>4</span></a>
		<a href="#" title="f6"><span><img src="~/data1/tooltips/f6.jpg" alt="f6"/>5</span></a>
		<a href="#" title="f7"><span><img src="~/data1/tooltips/f7.jpg" alt="f7"/>6</span></a>
		<a href="#" title="f8"><span><img src="~/data1/tooltips/f8.jpg" alt="f8"/>7</span></a>
		<a href="#" title="f9"><span><img src="~/data1/tooltips/f9.jpg" alt="f9"/>8</span></a>
		<a href="#" title="f10"><span><img src="~/data1/tooltips/f10.jpg" alt="f10"/>9</span></a>
		<a href="#" title="f11"><span><img src="~/data1/tooltips/f11.jpg" alt="f11"/>10</span></a>
		<a href="#" title="follow_icon"><span><img src="~/data1/tooltips/follow_icon.png" alt="follow_icon"/>11</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">carousel slider</a> by WOWSlider.com v7.7</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="~/engine1/wowslider.js"></script>
<script type="text/javascript" src="~/engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
</div>
   
</div>
         
		 
         
    <div class="blockquote">
         
         <p class="lead" style="font-family:'SketchFlow Print'; font-size:x-large; color:white"> &nbsp&nbsp&nbsp&nbsp <b><u>"Part Of the Secret of Success In Life is To Eat What You Like!" </u></b></p>
          
         
</div>
    

    <div class="row" >
        <div class="col-lg-1"></div>
        <div class="col-lg-8">
            <blockquote>


                <div >
                <p class="intro" style="color:white" align="justify">
                   Zee's Food Gallery known for its taste and quality, was Opened in 2000. It is a casual fine online restaurant, offering its customers to enjoy and experience Pakistani cuisine and warm hospitality at your own home. 
                    <br>
                    <br>
                    We specialize in three course tasting menus, allowing the customer to select any three dishes from the menu .  
                    <br>
                    <br>
                    Our food is sourced from top quality seasonal ingredients, featuring a high percentage of local and organic products.  We consider out restaurant to be a restaurant honoring many different cooking traditions and interpreting them with our unique creative vision.
                    <br>
                    <br>
                    Our approach towards the operation of the restaurant is truly cooperative.  We believe that every single member of our staff is integral to our success and pay sustainable living wages to all employees, offering medical benefits and profit sharing to all full time employees.
                    Your satisfaction is our first priority!
                    <br>
                    <br>
                    Our current leaders of kitchen and service at Zee's Food Gallery:
                    <br>
                    <br>
                    Mr.Thao - Executive Chef / Proprietor<br>
                    Mr.Zao – Chef / Kitchen Manager<br>
                    Mr.Hassan – Chef / Kitchen Manager<br>
                    Mr.Muzang – Service Supervisor / Cold Drink Director<br>
                    Mr.Raja – Service Supervisor / Event Coordinator<br>
                    Mr.Leo – Pastry Chef


                </p>
                    </div>
            </blockquote>
        </div>
        <div class="col-lg-2">

           @* <br /><img src="~/Content/images/1.gif" width="280" height="210" class="pull-right"><br><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />*@
            @*<br /><img src="~/Content/images/2.gif" width="280" height="210" class="pull-left"><br /><br><br /> <br /><br /><br /><br /><br /><br /><br /><br /><br />
            <br /><img src="~/Content/images/3.gif" width="280" height="210" class="pull-left">*@

        </div>
        </div> 

</body>
   