@{
    ViewBag.Title = "intro";
}



<header>

     <style>

        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% auto;
            background-image: url(../Content/images/bg4.jpg);
        }
         #img{
            background-image:url(../Content/images/14.png);
            height:210px;
    
            }

        #bgImg {
            background-image: url(../Content/images/about.jpg);
            opacity:0.9;
        }

    </style>

 <!-- Start WOWSlider.com HEAD section -->
<link rel="stylesheet" type="text/css" href="~/engine1/style.css" />
<script type="text/javascript" src="~/engine1/jquery.js"></script>
<!-- End WOWSlider.com HEAD section -->
   
</header>
<body>
    <br />
    <div id="bgImg">
       
   
<div>
     <!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container1">
    
<div class="ws_images"><ul>
		<li><img src="~/data1/images/f1.jpg" alt="f1" title="f1" id="wows1_0"/></li>
		<li><img src="~/data1/images/f2.jpg" alt="f2" title="f2" id="wows1_1"/></li>
		<li><img src="~/data1/images/f3.jpg" alt="f3" title="f3" id="wows1_2"/></li>
		<li><img src="~/data1/images/f5.jpg" alt="f5" title="f5" id="wows1_3"/></li>
		<li><img src="~/data1/images/f6.jpg" alt="f6" title="f6" id="wows1_4"/></li>
		<li><img src="~/data1/images/f7.jpg" alt="f7" title="f7" id="wows1_5"/></li>
		<li><img src="~/data1/images/f8.jpg" alt="f8" title="f8" id="wows1_6"/></li>
		<li><img src="~/data1/images/f9.jpg" alt="f9" title="f9" id="wows1_7"/></li>
		<li><img src="~/data1/images/f10.jpg" alt="f10" title="f10" id="wows1_8"/></li>
		<li><a href="http://wowslider.com"><img src="~/data1/images/f11.jpg" alt="slideshow jquery" title="f11" id="wows1_9"/></a></li>
		
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="f1"><span><img src="~/data1/tooltips/f1.jpg" alt="f1"/>1</span></a>
		<a href="#" title="f2"><span><img src="~/data1/tooltips/f2.jpg" alt="f2"/>2</span></a>
		<a href="#" title="f3"><span><img src="~/data1/tooltips/f3.jpg" alt="f3"/>3</span></a>
		<a href="#" title="f5"><span><img src="~/data1/tooltips/f5.jpg" alt="f5"/>4</span></a>
		<a href="#" title="f6"><span><img src="~/data1/tooltips/f6.jpg" alt="f6"/>5</span></a>
		<a href="#" title="f7"><span><img src="~/data1/tooltips/f7.jpg" alt="f7"/>6</span></a>
		<a href="#" title="f8"><span><img src="~/data1/tooltips/f8.jpg" alt="f8"/>7</span></a>
		<a href="#" title="f9"><span><img src="~/data1/tooltips/f9.jpg" alt="f9"/>8</span></a>
		<a href="#" title="f10"><span><img src="~/data1/tooltips/f10.jpg" alt="f10"/>9</span></a>
		<a href="#" title="f11"><span><img src="~/data1/tooltips/f11.jpg" alt="f11"/>10</span></a>
		<a href="#" title="follow_icon"><span><img src="~/data1/tooltips/follow_icon.png" alt="follow_icon"/>11</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.com/vi">carousel slider</a> by WOWSlider.com v7.7</div>
<div class="ws_shadow"></div>
</div>	
<script type="text/javascript" src="~/engine1/wowslider.js"></script>
<script type="text/javascript" src="~/engine1/script.js"></script>
<!-- End WOWSlider.com BODY section -->
 
    
    </div>
        </div>
    
    
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-3">

            <form action="#" method="post">
                <div class="header">
                    <h4><label><a href="~/Home/Pak">Pakistani Foods</a></label></h4>

                </div>
                <div class="thumbnews thumb-shadow post-thumbnail">
                    <img src="/Content/images/3.gif"  height="150px" width="300px"/>
                </div>
                <div class="news thumbnews">
                  Pakistan is known for its traditional foods and values.You could have such spicy foods by placing us your precious orders.

                </div>
               
            </form>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-3">

            <form action="#" method="post">
                <div class="header">
                    <h4><label><a href="~/Home/Italian">Italian Foods</a></label></h4>

                </div>
                <div class="thumbnews thumb-shadow post-thumbnail">
                    <img src="/Content/images/1.gif" height="150px" width="300px" />
                </div>
                <div class="news thumbnews">
                  Italy is famous for its cuisines,pizzas and all other foods.You could have such spicy foods by placing us your precious orders.


                </div>
               
            </form>


        </div>

        <div class="col-md-1"></div>
        <div class="col-md-3">

            <form action="#" method="post">
                <div class="header">
                    <h4><label><a href="~/Home/Chinese">Chinese Foods</a></label></h4>

                </div>
                <div class="thumbnews thumb-shadow post-thumbnail">
                    <img src="/Content/images/2.gif" height="150px" width="300px" />
                </div>
                <div class="news thumbnews">
                   Here we present you chinese dishes and foods.You could have such spicy foods by placing us your precious orders.

                </div>
                
            </form>
        </div>
        
    
    
    <!--        -->



    <br /><br />


    <div class="col-md-1"></div>
        <div class="col-md-3">

            <form action="#" method="post">
                <div class="header">
                    <h4><label><a href="~/Home/about">Fast Foods</a></label></h4>

                </div>
                <div class="thumbnews thumb-shadow post-thumbnail">
                    <img src="/Content/images/4.gif" height="150px" width="300px" />
                </div>
                <div class="news thumbnews">
                   Here is the fast food corner.You could have such spicy foods by placing us your precious orders.


                </div>
                
            </form>
        </div>
        
  </div>
    

    </body>




