@{
    ViewBag.Title = "SubmitOrder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thank You for ordering. Your Order will be delivered withing 1-hour depending on the place you belong. Your satisfaction is our first priority!</h2>
 <style>

        body {
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% auto;
            background-image: url(../Content/images/bg4.jpg);
        }
         </style>